
.main
{
  display: flex;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  background-blend-mode: overlay;
  border-radius: 25px;
  height: 223px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  
  & > h1
  {
    color: white;
    text-align: center;
    
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
}

// Mobile
@media (max-width: 720px)
{
  .main
  {
    border-radius: 10px;
    margin-bottom: 22px;
    height: 111px;
    &> h1
    {
      -webkit-text-stroke: 0;
      text-shadow: none;
    }
  }
}