.main
{
  display: flex;
  align-items: center;
  gap: 10px;
  
  & > p
  {
    text-align: right;
    font-size: 18px;
    color: #FF6060;
  }
}

.avatar
{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #C4C4C4;
  
  // Hide alt text
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}