.main
{
  display: inline-block;
  min-width: 105px;
  line-height: 25px;
  font-size: 14px;
  padding: 0 10px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: #FF6060;
}
