
body
{
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4258;
}

header
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 57px;
  margin-bottom: 50px;

  & > .logo
  {
    height: 68px;
  }

  & > nav
  {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 57px;
    font-weight: 500;

    & > a
    {
      color: black;
      text-decoration: none;

      &.active, &.pending
      {
        text-decoration: underline;
      }
    }
  }
}

.container
{
  padding: 45px 100px 50px 100px; 
}

footer
{
  overflow: hidden;
  padding: 46px 121px 29px 121px;
  background-color: black;
  color: white;
  text-align: center;
  // padding: 66px;
  & > .logo
  {
    width: 122px;
  }
  & > p
  {
    margin: 0;
  }
}

.logo
{
  width: auto;
}

.introduction
{
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  background-blend-mode: overlay;
  border-radius: 25px;
  
  & > h1
  {
    // font-size: 48px;
    color: white;
    margin: 78px 0;
    text-align: center;

    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
}

// Mobile
@media (max-width: 720px)
{
  body
  {
    font-size: 12px;
  }

  header
  {
    gap: 26px;
  
    & > .logo
    {
      height: 46.88px;
    }
  
    & > nav
    {
      gap: 26px;
      text-transform: uppercase;
      // justify-content: flex-start;
    }
  }

  .container
  {
    padding: 20px;
  }

  footer
  {
    padding: 46px 127px 58px 127px;
  }
}