*
{
  margin: 0;
}

body
{
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  line-height: 1.4258;
}

header.headbar
{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 57px;

  & > .logo
  {
    height: 68px;
  }

  & > nav
  {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    gap: 57px;
    font-weight: 500;

    & > a
    {
      color: black;
      text-decoration: none;

      &.active, &.pending
      {
        text-decoration: underline;
      }
    }
  }
}

h2
{
  color: #FF6060;
  font-size: 36px;

}
header > h2 + p
{
  font-size: 18px;
}

.container
{
  margin: 45px 100px 50px 100px; 
}

.thumbgrid
{
  border-radius: 25px;
  background: #F6F6F6;
  padding: 56px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 340px;
  // grid-auto-columns: 340px;
  gap: 60px;
}

.thumb
{
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
  border-radius: 10px;
  & > span
  {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    color: white;
    bottom: 20px;
    left: 20px;
  }
}

footer
{
  overflow: hidden;
  padding: 46px 121px 29px 121px;
  background-color: black;
  color: white;
  text-align: center;
  // padding: 66px;
  & > .logo
  {
    width: 122px;
  }
  & > p
  {
    margin: 0;
  }
}

.logo
{
  width: auto;
}

.introduction
{
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25);
  background-blend-mode: overlay;
  border-radius: 25px;
  
  & > h1
  {
    // font-size: 48px;
    color: white;
    margin: 78px 0;
    text-align: center;

    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    -webkit-text-stroke: 2px black;
    paint-order: stroke fill;
  }
}

.slider
{
  position: relative;
  height: 415px;
  border-radius: 25px;
  background: gray;
  overflow: hidden;

  &> .image
  {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
  }
  &> p
  {
    position: absolute;
    color: white;
    font-size: 18px;
    text-align: center;
    bottom: 25px;
    margin: 0 0 0 -100px;
    width: 200px;
    left: 50%;
  }
  &> .prev, &> .next
  {
    position: absolute;
    top: 50%;
    height: 96px;
    margin-top: -48px;
    cursor: pointer;
  }
  &> .prev
  {
    left: 0;
  }
  &> .next
  {
    right: 0;
  }
}

.tags
{
  display: flex;
  gap: 10px;
}

.tag
{
  display: inline-block;
  width: 115px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-align: center;
  border-radius: 10px;
  background: #FF6060;
}

@keyframes slideDown {
  0%
  {
    opacity: 0;
    transform: translateY(-100%);
    clip-path: inset(100% 0 0 0);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0px);
    clip-path: inset(0% 0 0 0);
  }
}
@keyframes slideUp {
  0%
  {
    opacity: 1;
    transform: translateY(0px);
    clip-path: inset(0% 0 0 0);
  }
  100%
  {
    opacity: 0;
    transform: translateY(-100%);
    clip-path: inset(100% 0 0 0);
  }
}

.spoiler
{
  overflow: hidden;
  & > summary
  {
    z-index: 10;
    position: relative;
    background: #FF6060;
    color: white;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    &::marker, &::-webkit-details-marker
    {
      content: none;
      display:none;
    }
    &::after
    {
      content: '';
      float: right;
      height: 32px;
      width: 32px;
      background: url(./assets/spoiler-marker.svg) center/contain;
      transition: transform 300ms ease-in-out;
      cursor: pointer;
    }
  }
  &> .content
  {
    background: rgba(246, 246, 246, 0.45);
    border-radius: 0px 0px 5px 5px;
    margin-top: -10px;
    padding: 26px 20px 20px 20px;
    font-size: 18px;
    color: black;

    position: relative;
    opacity: 0;
    animation: slideUp 300ms ease-in-out;
  }
  &.open
  {
    &> summary::after
    {
      transform: rotate(-180deg);
    }
    &> .content
    {
      opacity: 1;
      animation: slideDown 300ms ease-in-out;
    }
  }
}

.stars
{
  display: flex;
  gap: 4px;
}

header, .introduction, .thumbgrid
{
  margin-bottom: 50px;
}

// Mobile
@media (max-width: 720px)
{
  body
  {
    font-size: 12px;
  }

  header
  {
    gap: 26px;
  
    & > .logo
    {
      height: 46.88px;
    }
  
    & > nav
    {
      gap: 26px;
      text-transform: uppercase;
      // justify-content: flex-start;
    }
  }

  .container
  {
    padding: 20px;
  }

  footer
  {
    padding: 46px 127px 58px 127px;
  }
}